---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: shinkro
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  driftDetection:
    mode: enabled
  values:
    controllers:
      shinkro:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/varoop/shinkro
              tag: v0.5.2@sha256:731edbc56fd196d87cee14c1926dc317230038de7c54a5b8dc8e2dd7b2368527
            env:
              TZ: ${TIMEZONE}
              # Dummy values, required for first start.
              # Real config values are in the config.toml file.
              SHINKRO_USERNAME: shinkro
              SHINKRO_PASSWORD: shinkro
              PLEX_USERNAME: shinkro
              ANIME_LIBRARIES: Library1,Library2,Library3
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 256M
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
          shinkro-mapping:
            image:
              repository: registry.k8s.io/git-sync/git-sync
              tag: v4.5.1@sha256:1df295fdab03031f932f2b7dae82fa19bd77334e2510c311bbdfc7e09ef49ece
            env:
              GITSYNC_REPO: https://github.com/varoOP/shinkro-mapping
              GITSYNC_REF: main
              GITSYNC_PERIOD: 24h
              GITSYNC_ROOT: /shinkro-mapping
              GITSYNC_EXECHOOK_COMMAND: /scripts/copy-mal-files.sh
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext: *securityContext
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }

    service:
      app:
        controller: shinkro
        ports:
          http:
            port: 7011
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        className: internal
        hosts:
          - host: "shinkro.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: shinkro
      config-toml:
        type: secret
        name: shinkro-secret
        globalMounts:
          - path: /config/config.toml
            subPath: config.toml
            readOnly: true
      shinkro-mapping:
        type: emptyDir
      copy-mal-files-script:
        type: configMap
        name: copy-mal-files-script
        defaultMode: 0775
        globalMounts:
          - path: /scripts/copy-mal-files.sh
            subPath: copy-mal-files.sh
            readOnly: true
      tmp:
        type: emptyDir
