---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  driftDetection:
    mode: enabled
  values:
    controllers:
      ollama:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.13.5
            env:
              - name: OLLAMA_HOST
                value: 0.0.0.0
              - name: OLLAMA_ORIGINS
                value: "*"
              - name: OLLAMA_MODELS
                value: &modelPath "/models"
              - name: OLLAMA_KEEP_ALIVE
                value: "24h"
              - name: OLLAMA_LOAD_TIMEOUT
                value: "600"
            resources:
              requests:
                cpu: 500m
                memory: 2Gi
              limits:
                memory: 16Gi
                nvidia.com/gpu: "1"
        pod:
          runtimeClassName: nvidia
          tolerations:
            - key: martin.com/gpu
              operator: Equal
              value: nvidia
              effect: NoSchedule
          nodeSelector:
            martin.com/gpu: nvidia
    service:
      app:
        controller: ollama
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 192.168.0.123
        ports:
          http:
            port: 11434
    persistence:
      models:
        enabled: true
        existingClaim: ollama-models
        advancedMounts:
          ollama:
            app:
              - path: *modelPath
      config:
        enabled: true
        existingClaim: ollama
        globalMounts:
          - path: /root/.ollama
