---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: overseerr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  driftDetection:
    mode: enabled
  values:
    controllers:
      overseerr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/sct/overseerr
              tag: 1.35.0@sha256:6197516c9d7b58ccf113455e32aafb94df5d91995fe50e8c2cae6ba6c7c7b7de
            command: [npm, run, start]
            env:
              TZ: ${TIMEZONE}
              LOG_LEVEL: warn
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 2Gi
    service:
      app:
        controller: overseerr
        ports:
          http:
            port: 5055
    ingress:
      app:
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Downloads
          gethomepage.dev/icon: sh-overseerr.svg
          gethomepage.dev/name: Overseerr
          gethomepage.dev/widget.type: overseerr
          gethomepage.dev/widget.url: http://overseerr.default.svc:5055
          gethomepage.dev/widget.key: ${SECRET_HOMEPAGE_VAR_OVERSEERR_API_TOKEN}
          gethomepage.dev/widget.fields: '["pending", "processing"]'
        className: external
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
    persistence:
      config:
        existingClaim: overseerr
        globalMounts:
          - path: /app/config
      tmp:
        type: emptyDir
      cache:
        existingClaim: overseerr-cache
        globalMounts:
          - path: /app/config/cache
            subPath: app
          - path: /root/.npm
            subPath: npm
