apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: daily-backup
  namespace: longhorn-system
spec:
  cron: "23 6 * * ?"   # At 06:23 AM
  task: "backup"
  groups:
    - default
  retain: 14  # 2 weeks of backups
  concurrency: 1
