---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 30m
  chart:
    spec:
      chart: longhorn
      version: 1.10.1
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  install:
    crds: Create
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 4
  driftDetection:
    mode: enabled
  values:

    # Regression in 1.10.0, see https://github.com/longhorn/longhorn/releases/tag/v1.10.0
    image:
      longhorn:
        manager:
          tag: "v1.10.0-hotfix-1"

    persistence:
      defaultClass: true
      defaultClassReplicaCount: 2
    defaultSettings:
      defaultReplicaCount: "2"
      defaultDataPath: /var/lib/longhorn
      priorityClass: system-cluster-critical
      createDefaultDiskLabeledNodes: true
      defaultDataLocality: "best-effort"
      replicaAutoBalance: "best-effort"
      storageMinimalAvailablePercentage: "1"
      storageReservedPercentageForDefaultDisk: "10"
      defaultLonghornStaticStorageClass: longhorn
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      concurrentAutomaticEngineUpgradePerNodeLimit: "3"
      orphanAutoDeletion: true
      taintToleration: "martin.com/gpu=nvidia:NoSchedule"
      v1DataEngine: true
      v2DataEngine: false
    defaultBackupStore:
      backupTarget: "${SECRET_BACKUP_TARGET}"
    longhornManager:
      priorityClass: system-cluster-critical
      tolerations: &tolerations
        - key: martin.com/gpu
          operator: Equal
          value: nvidia
          effect: NoSchedule
    longhornDriver:
      priorityClass: system-cluster-critical
      tolerations: *tolerations
    global:
      tolerations: *tolerations
    ingress:
      enabled: true
      annotations:
        external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
      ingressClassName: internal
      host: longhorn.${SECRET_DOMAIN}
      pathType: Prefix
    metrics:
      serviceMonitor:
        enabled: true
